.tx-editor-wrapper {
  position: relative;
  width: 100%; 
  height: 350px;
}
.tx-editor-wrapper .tx-editor.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 500;
}
.tx-editor-wrapper .tx-editor {
    height: 100%;
}
.tx-editor-wrapper .tx-editor .tx-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 3;
}
.tx-editor-wrapper .tx-editor.expanded .tx-icon:before { 
  content: "\f066"; 
}
.tx-editor-wrapper .tx-editor:not(.expanded) .tx-icon:before { 
  content: "\f065"; 
}
.tx-editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  opacity: 0;
}
